body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("{{ url_for('static/img'), filename='back.jpg'  }}");
}
a {
	text-decoration: none;
	background-color: transparent;
	color: #ededed;
}
.header {
	background-color:#000;
 	color:#fff;
 	border-color: #080808;
 	min-height: 50px;
 	border: 1px solid transparent;
}
.innerheader {
	width: 80%;
	margin: auto;
}
.logo {
	float: left;
	height: 50px;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
}
.header-links {
	float: right;
	height: 50px;
	padding: 15px 15px;
	font-size: 16px;
	font-weight: bold;
}
.content {
	min-height: 600px;
}
.banner-image {
	padding-bottom: 50px;
 	margin-bottom: 20px;
 	text-align: center;
 	color: #f8f8f8;
 	background: "{{ url_form('static/img'), filename='back.jpg' }}" no-repeat center;
 	background-size: cover;
}
.inner-banner-image {
	padding-top: 12%;
	width: 80%;
	margin: auto;
}
.banner-content {
	position: center;
 	padding-top: 6%;
 	padding-bottom: 6%;
 	overflow:hidden;
 	margin-bottom: 12%;
 	background-color: rgba(0, 0, 0, 0.7);
 	max-width: 660px;
}
.button {
	color: #fff;
 	background-color: #c9302c;
 	border-color: #ac2925;
 	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 	padding: 10px 16px;
 	font-size: 18px;
 	border-radius: 6px;
}
.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}