<!DOCTYPE html>
<html>
<head>
	<title>Premium Payment Prediction</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
	<div class="header">
		<div class="innerheader">
			<div class="logo"></div>
		</div>
	</div>
	<div class="content">
		<div class="banner-image">
			<center>
			<div class="inner-banner-image">
				<div class="banner-content">
					<form action="/predict" method="POST">
						<div>
        				<table>
            				<tbody>
                				<tr>
                    				<th>Field </th>
                    				<th> Input</th>
                				</tr>
                				<tr><td>Percentage of Premium Paid by Cash</td><td><input type="text" name="perc"></td></tr>
                				<tr><td>Age In Days</td><td><input type="text" name="age"></td></tr>
                				<tr><td>Income</td><td><input type="text" name="income" placeholder="Please refrain from commas"></td></tr>
                				<tr><td>Count of 3-6 months late</td><td><input type="number" name="count1"></td></tr>
                				<tr><td>Count of 6-12 months late</td><td><input type="number" name="count2"></td></tr>
                				<tr><td>Count of more than 12 months late</td><td><input type="number" name="count3"></td></tr>
                				<tr><td>Application Underwriting Score</td><td><input type="number" name="auc"></td></tr>
                				<tr><td>Number of premiums paid</td><td><input type="number" name="num"></td></tr>
                				<tr><td>Sourcing Channel</td><td><input type="radio" name="s_channel" value="A"> A <input type="radio" name="s_channel" value="B"> B <input type="radio" name="s_channel" value="C"> C <input type="radio" name="s_channel" value="D"> D <input type="radio" name="s_channel" value="E"> E</td></tr>
                				<tr><td>Residence Area Type</td><td><input type="radio" name="residence" value="urban"> Urban <input type="radio" name="residence" value="rural"> Rural</td></tr>
            				</tbody>
        				</table>
        				<br>
        				<input type="submit" name="button" class="input_button">
            			</div>
					</form>
				</div>
			</div>
		</center>
		</div>
	</div>
	<footer>
		<div class="container">
		<table>
			<tr><td>Github Account: </td><td><a href="https://github.com/tanzeyl" target="_blank">github.com/tanzeyl</a></td>
			<tr><td>E-mail: </td><td><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">ktanzeel80@gmail.com</a></td></tr>
			<tr><td>LinkedIn Profile: </td><td><a href="https://www.linkedin.com/in/tanzeel-khan-5754641ab/" target="_blank">Tanzeel Khan</a></td></tr>
		</table>
		</div>
	</footer>
</body>
</html>