<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<meta charset="utf-8">
	{% if title %}
		<title>Premium Payment Prediction - {{ title }}</title>
	{% else %}
		<title>Premium Payment Prediction</title>
	{% endif %}
</head>
<body>
  <div class="backimg">
	<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <p style="color: black; float: left; font-size: 20px;"><b>Premium Payment Prediction App</b></p>
      </div>
  </nav>
</header>
<main role="main" class="container" >
  <div class="row">
    <div class="col-md-8">
      {% block content %}{% endblock %}
    </div>
</main>
</div>
<hr>
<footer class="blockquote-footer">
    <div class="container">
    <table>
      <tr><td>Github Account: </td><td><a href="https://github.com/tanzeyl" target="_blank">github.com/tanzeyl</a></td></tr>
      <tr><td>E-mail: </td><td><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">ktanzeel80@gmail.com</a></td></tr>
      <tr><td>LinkedIn Profile: </td><td><a href="https://www.linkedin.com/in/tanzeel-khan-5754641ab/" target="_blank">Tanzeel Khan</a></td></tr>
    </table>
    </div>
  </footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>